:root{
    --darkblue: #1B1464;
    --white: #FFFFFF;
    --light-blue: #49D3FF;
    --text-black: #262626;
    --green: #24C977;
    --red: #FF4343F7;
    --gold:#E0B237;    
    --body: #F1F3F5;
}

.blue{
    color: var(--light-blue);
}
.green{
    background: var(--green);
    color: var(--white);
}
.red{
    background: var(--red);
    color: var(--white);
}
.colorRed{
    color:  #FF4343F7;
}
.gold{
    background: var(--gold);
    color: var(--white);

}
.dashbaord{
    padding: 0 2rem;
    margin-top: 12rem;
    margin-bottom: 4rem;
}
.border{
    background: var(--white);
    border: 3px solid var(--darkblue);
    color: var(--darkblue);
}
.tflex{
    display: flex;
    align-items: center;
    gap: .7rem;
    justify-content: center;
}
.rotate{
    transform: rotate(90deg);
    cursor: pointer;
}
.circle-green-small{
    display: inline-block;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background: var(--green);
    line-height: 15px;
}

/* Normal tooltips */
.tooltip{
    visibility: hidden;
    padding: .4rem .6rem;
    box-shadow: 0px 1px 2px #00000029;    
    border-radius: 4px;
    position: absolute;
    right: 7.5rem;
    background: var(--white);
    z-index: 1;
    font-size: .8rem;
    cursor: pointer;
}
.tips:hover .tooltip{    
    visibility: visible;
}
/* Dashboard tooltips */
.serverTips{
    position: relative;
    z-index: 1;
}
.serverTips:hover .sTooltips{
    visibility: visible;
}
.serverTips .sTooltips{
    visibility: hidden;
    width: 10rem;
    /* min-height: rem; */
    box-shadow: 0px 1px 2px #00000029;
    background: var(--white);
    position: absolute;
    left: 10rem;
    top: 0;
    color: var(--text-black);
    padding: .6rem 1rem;
}
.serverTips .sTooltips .tips{
    width: 100%;
    align-items: center;
    font-size: .7rem;
}
.serverTips .sTooltips .tips .tips-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.serverTips .sTooltips .tips .tips-data:last-child{
    margin-bottom: 0;
}



/* Deactivate popup */
.deactivate{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 3;
}
.deactivate.active{
    display: inline-block;
}
.deactivate .d-alert .remove{
    cursor: pointer;
    position: absolute;
    right: -1.2rem;
    top: -1.2rem;
    color: var(--white);
}
.deactivate .d-alert{
    position: absolute;
    width: 25rem;
    height: 15rem;
    border-radius: 4px;
    background: var(--white);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}
.deactivate .d-alert p{
    font-size: .7rem;
    color: var(--text-black);
    margin-top: 2rem;
}
.deactivate .d-alert .btn{
    width: 100%;    
    text-align: center;
}
.deactivate .d-alert .btn .btn-dactive{
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: teal;
    border-radius: 4px;
    color: var(--white);
}




.dashbaord .dashcards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.dashbaord .dashcards .card{
    flex: 1 1 20rem;
    height: 12rem;
    min-width: 20rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    opacity: 1;
    border-radius: 4px;
    padding: 1.3rem 1.5rem;
}
.dashbaord .dashcards .card h4{
    color: var(--text-black);
    background: var(--white);
}

.dashbaord .dashcards .card .stats{
    text-align: center;
    margin-top: 1.5rem;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.dashbaord .dashcards .card .stats .stat{
    background: var(--white);
}
.dashbaord .dashcards .card .stats .stat .text{
    margin-top: 1rem;
    background: var(--white);
    display: flex;
    gap: 3.8rem;
    margin-top: 1rem;
}
.dashbaord .dashcards .card .stats .stat span.bullet{
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
    width: 50px; height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}



.dashbaord .dashcards .card .count{
    margin-top: 2rem;
    background: var(--white);
    text-align: center;
}
.dashbaord .dashcards .card .count h1{
    background: var(--white); 
    font-size: 40px;
    font-weight: 400;
    color: var(--darkblue);
}
.dashbaord .dashcards .card .count span{
    margin-top: .6rem;
    display: inline-block;
    background: var(--white);
}


.dashbaord .dashBody{
    width: 100%;
    height: 40rem;
    background: var(--white);
    margin-top: 2rem;
    padding: 2rem 3rem;
    overflow-x: scroll;
    box-shadow: 0px 1px 2px #00000029;    
}

.dashbaord .dashBody .form{
    display: flex;
    gap: 1rem;
    min-width: 50rem;

}
.dashbaord .dashBody .form .field-body-input{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    width: 20rem;
    height: 2.2rem;
    padding: 0 1rem;
    border-radius: 3px;
    opacity: 1;
    background: var(--body);
}
.dashbaord .dashBody .form .field-body-input input{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background: var(--body);
}
.dashbaord .dashBody .form .field-body-select{
    display: flex;
    align-items: center;
    width: 13rem;
    padding: 0 1rem;
    background: var(--white);
    border: 0.5px solid #525757;
    border-radius: 3px;
    opacity: 1;
}
.dashbaord .dashBody .form .field-body-select select{
    width: 100%;
    background: var(--white);
}



.dashbaord .dashBody .table-body{
    min-width: 55rem;
    margin-top: 2rem;
    padding-right: 1rem;

}
.dashbaord .dashBody .table-body .table-top{
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;
    gap: .5rem;
    justify-content: right;
}
.dashbaord .dashBody .table-body table{
    width: 100%;
    margin-top: 1rem;
    font-size: .9rem;
    text-align: center;
    border: 0;
}
.dashbaord .dashBody .table-body table thead{
    background: var(--body);
    font-weight: 600;
    color: #000B14;;
}
.dashbaord .dashBody .table-body table thead tr, .dashbaord .dashBody .table-body table tbody tr{
    height: 3.5rem;
}
.dashbaord .dashBody .table-body table tbody tr{
    border: 2px solid var(--text-black);
}

.dashbaord .dashBody .table-body table tbody tr td span.circle-green{
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    background: var(--green);
    line-height: 15px;
}
.dashbaord .dashBody .table-body table tbody tr td span.circle-red{
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    background: var(--red);
}
.dashbaord .dashBody .table-body table tbody tr td a{
    background: var(--light-blue);
    padding: .5rem 1.5rem;
    border-radius: 4px;
}
.dashbaord .dashBody .table-body table tbody tr td i{
    color: var(--white);
    font-size: .5rem;
}
.dashbaord .dashBody .pagination{
    /* width: 50rem; */
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashbaord .dashBody .pagination .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .8rem;
}
.dashbaord .dashBody .pagination .buttons a{
    color: var(--text-black);
    font-weight: 600;
}
.dashbaord .dashBody .pagination .buttons a.active{
    background: var(--light-blue);
    color: var(--white);
    padding: .5rem 1rem;
}
.dashbaord .dashBody .pagination .buttons a:hover{
    background: var(--light-blue);
    color: var(--white);
    padding: .5rem 1rem;
}


/* Responsiveness */
@media(max-width: 1268){
    .desktop{
        display: none;
    }    
}
@media(max-width: 800px){
    .dashbaord{
        padding: 0 1rem;
    } 
    .dashbaord .dashBody{
        padding: 2rem 1rem;
    }
    .dashbaord .dashBody .table-body table{
        font-size: .9rem;
    }
    .serverTips .sTooltips{
        left: 7rem;
    }
    .tooltip{
        right: 5rem;
    }
    .dashbaord .dashBody .pagination{
        width: 50rem;
    }
    .deactivate .d-alert{
        /* position: absolute; */
        width: 20rem;
     
        padding: 2rem 1rem;
    }
}
